recursive-include csrc *.cu
recursive-include csrc *.h
recursive-include csrc *.cuh
recursive-include csrc *.cpp
recursive-include csrc *.hpp

recursive-include flash_attn_manifest *.cu
recursive-include flash_attn_manifest *.h
recursive-include flash_attn_manifest *.cuh
recursive-include flash_attn_manifest *.cpp
recursive-include flash_attn_manifest *.hpp
